 
 
 main .main-logo-box {
    margin: 40px;
    width: 100%;
    height: 160px;
      
}

 .main-logo-box  /*arreglo las cajas circulares*/
 .box1,
 .box2,
 .box3,
 .box4  { 
    
    min-width: 150px;
    min-height: 140px;
    max-width: 180px;
    max-height: 170px;
     
 }

.box1 a,
.box2 a,
.box3 a,
.box4 a{
  
    font-size: 2.5rem;
      
}
 .survey{
    height: 450px;
   
 
} 
 .encuesta{
    margin-left: 35px;
    justify-content: center;
    margin-top: 20px;
    width: 40%;
    height: 400px;
    border-radius: 15px;
 }

.container { /*Contenedor de fotos skroll*/
    margin-top: 5px;
    width: 98%;
    height: 445px;
    margin: 10px;
   
    
}
.container .item img:hover{
    transform: scale(1.5);
}

.fechas { /*Contenedor contenido fechas*/
    background-color: rgb(38, 39, 41);
    width: 100%;
    height: 600px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
     
}
.fechas .fechas-img{
    
    width: 100%;
    height: 580px;
    max-width: 500px;
    max-height: 580px;
    box-shadow: 20px 20px 10px 10px black;
 
 }      
 .container .item img{

    width: 100%;
    height: 280px;
    border-radius: 8px;
    
}
.tracks{ /*Contenedor div de tracks*/
    margin-top: 15px;
    color: #747c44;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: #222020;
    font-size: 1.6rem;
}

.music { /*Contenedor (caja) audios*/
    display: flex;
    margin-bottom: 5px;
    margin-left: 100px;
    width: 55%;
    height: 70px;
    border: 0.8px solid black;
    border-radius: 13px;
    background-color:#f1f3f4;
} 
.music .music-vox{ /*contenedor especifico de audios*/
    display: flex;
    width: 65%;
    background-color: white ;
 
}
.music-vox img { /*Contenedor Imágenes de audios*/
    
    width: 300px;
    height: 400px;
    min-width: 100px;
    max-width: 300px;
    
}    

.music  p{ /*contenedor títulos audio*/
    font-family:'Times New Roman', Times, serif ;
    width: 100%;
    margin-left: 5px;
    font-size: 1.2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #505a15;
    background-color: #f1f3f4;
    
    
}

.music audio {
    
    margin-top: 12px;
    width:100%;
    height: 30px;
 }

.videos { /*Contenedor de Videos skroll*/
width: 100%;

}
.box-logo{ /*contenedor logo*/
    margin-top: 50px;
    width: 100%;
    height: 160px;
  

    
}
.mail{
    color:rgb(87, 6, 6);
    font-size: 1.7rem;
}

.contacto p{
    
    align-self: center;
    margin-right: 10px;
    margin-left: 15px;
      
}